<?xml version="1.0" encoding="utf8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lin.dao.TeacherMapper">
    <!--按结果嵌套查询-->
    <resultMap id="TeacherMap" type="Teacher">
        <result property="id" column="tid"/>
        <result property="name" column="tname"/>
        <!--javaType：指定的类型，集合中的泛型信息，使用ofType获取-->
        <collection property="studentList" ofType="Student">
            <result property="id" column="sid"/>
            <result property="name" column="sname"/>
            <result property="tid" column="tid"/>
        </collection>
    </resultMap>
    <select id="getTeaWithStu" resultMap="TeacherMap">
        select s.id sid,s.name sname,t.name tname,t.id tid from teacher t join student s
        on t.id = s.tid
    </select>

    <resultMap id="TeacherMap2" type="Teacher">
        <collection property="studentList" javaType="ArrayList" ofType="Teacher" select="getStuByTeaId" column="id"/>
    </resultMap>
    <select id="getTeaWithStu2" parameterType="map" resultMap="TeacherMap2">
        select * from teacher where id = #{tid}
    </select>
    <select id="getStuByTeaId" resultType="Student">
        select * from student where tid = #{id}
    </select>
</mapper>